<%- layout('layouts/template') %>
<div class="container">
  <% for(let c of comment) {%>
  <div class="card mb-3">
    <div class="card-header">Comments</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= c.comments %></p>
        <footer class="blockquote-footer">
          <cite title="Source Title">author <%= c.username %> </cite>
        </footer>
        <a class="btn btn-primary" href="/comments/<%= c._id %>/edit "
          >Edit Comment</a
        >
        <form
          action="/comments/<%= c._id %>?_method=DELETE"
          method="post"
          class="d-inline"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
      </blockquote>
    </div>
  </div>
  <% } %>
</div>
